.main-body {
  padding-top: 20px;
  margin: 0 auto;
  width: 1200px;
  mat-form-field {
    width: 100%;
  }
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}
