<mat-toolbar color="primary" class="mat-elevation-z8">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
      <mat-list-item>
        <button routerLink="/" mat-button><mat-icon>home</mat-icon> Home</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/tasks" mat-button><mat-icon>checklist</mat-icon> View all tasks</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/create" mat-button><mat-icon>add circle</mat-icon> Create a task</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/completed" mat-button><mat-icon>done</mat-icon> Completed tasks</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="flex  justify-center h-screen">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
